version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    volumes:
      - .:/var/www/html
    ports:
      - "8000:8000"
      - "5173:5173"
    depends_on:
      - mysql
    command: >
      bash -c "
        composer install &&
        npm install &&
        php artisan key:generate &&
        php artisan migrate &&
        composer run dev
      "

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel_task_manager
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
